<VirtualHost *:80>
    ServerName quiz-0316.co.th
    ServerAlias www.quiz-0316.co.th
    DocumentRoot /var/nfs/www/quiz-0316.co.th/html
     <Directory /var/nfs/www/quiz-0316.co.th/html>
        Options -Indexes +FollowSymLinks +MultiViews
        AllowOverride All
        Require all granted
    </Directory>
    ErrorLog /var/nfs/www/quiz-0316.co.th/log/error.log
    CustomLog "| /bin/sh -c '/usr/bin/tee -a /var/nfs/www/quiz-0316.co.th/log/requests.log | /usr/bin/logger -thttpd_quiz0316 -plocal1.notice'" combined
</VirtualHost>